.wrapper{
  display:grid;
  grid-template-columns:1fr 2fr 1fr;
}
.wrapper > div{

}

p{
  font-size:100px;
  color:purple;
}

a{
  text-decoration:none;
  target:blank;
  color:black;
  curser:pointer;
  opacity:0.75%;
}
